include quickserve/web/client/default_template/templates/*.html
include quickserve/web/client/default_template/static/assets/images/*.png
include quickserve/web/client/default_template/static/css/*.css
include quickserve/web/client/default_template/static/js/*.js

include quickserve/web/client/test_templates/templates/*.html
include quickserve/web/client/test_templates/static/assets/images/*.png
include quickserve/web/client/test_templates/static/css/*.css
include quickserve/web/client/test_templates/static/js/*.js
