body {
    background-color: #20242a;
}

.container-fluid {
    padding: 2% 15%;
}

#title {
    font-family: 'roboto', sans-serif;
    padding-bottom: 10%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    color: #ffffff;
    margin-bottom: 50px;
    text-align: center;
}

.head {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 1.5;
    color: #ffffff;
    padding-top: 20px;
}

.para {
    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 25px;
    line-height: 1.3;
    color: #ffffff;
}

#buttons {
    text-align: center;
    justify-content: center;
    padding: 7% 7%;
}

.yellowbtn {
    background-color: #fed32c;
    color: #20242a;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 5%;
    border-radius: 5px 5px 5px 5px;
}

.optbtn {
    margin: auto;
    height: 140px;
    width: 350px;
    /* margin-top: 6%;
    margin-right: 5%; */
    padding: 0px;
    font-size: 35px;
    align-items: center;
}

.yellowbtn:hover {
    background-color: #dfb200;
    color: black;
}

.pannaimage {
    width: 300px;
    height: 400px;
}

@media (max-width:750px) {
    .pannaimage {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .hello {
        text-align: center;
    }
}

#footer {
    height: 100%;
    width: 100%;
    background-color: #2B3038;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 5% 8%;
    margin-top: 5px;
}

.icon-last {
    font-size: 30px;
    padding: 0% 1%;
}

.drop-zone {
    max-width: 500px;
    height: 300px;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "lato", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #838383;
    border: 5px dashed #fed32c;
    border-radius: 10px;
    background-color: white;
}

.outputbox {
    max-width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #fed32c;
    border-radius: 10px;
    background-color: white;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}