<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,500;1,700&display=swap"
        rel="stylesheet">

    <script src="https://kit.fontawesome.com/b4d1dc5269.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>QuickServe</title>
</head>

<body>
    <section id="title">
        <div class="navcontainer">
            <nav class="navbar navbar-expand-lg bg-lg navbar-dark " style="background-color: #455A64;">
                <a class="navbar-brand" href=" ">QuickServe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#footer"> Contact</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#buttons"> Scan</a></li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"> Download</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="container-fluid">
            <div>
                <h1 class="heading">QuickServe</h1>
            </div>

            <div class="row row-content align-items-center">
                <div class="col-12 col-md-9 hello">
                    <h3 class="head"> Hello There!</h3>
                    <p class="para "> "Here is an exclusive app to quickly serve all your needs in just one click!"</p>
                    <a href="#buttons" type="button" class="btn yellowbtn">
                        Get Started</a>
                </div>

                <div class="col-12 col-md-3 ">
                    <img class=" align-self-center pannaimage " src="../static/assets/pannaa-01.png" alt="panna">
                </div>
            </div>
        </div>
    </section>

    <section id="buttons">
        <div class="">
            <div>
                <h1>App Name</h1>
            </div>
            <div class="col-12">
                <button type="button" id="" class="btn yellowbtn optbtn">Upload File</button>
            </div>
        </div>
    </section>
    <section id="dragsection">
        <div class="container-fluid ">
            <div class="row">
                <div id="draghere" class="col-lg-6 ">
                    <h1>Input File</h1>
                    <div class="drop-zone">
                        <span class="drop-zone__prompt">Drop your file here or click to upload</span>
                        <input type="file" id="inputFileToLoad" name="myFile" class="drop-zone__input">

                    </div>

                </div>

    </section>


    <section id="footer">
        <p><i class="fab fa-facebook icon-last"></i><i class="fab fa-twitter icon-last"></i><i class="fab fa-instagram icon-last"></i><i class="fas fa-envelope icon-last"></i></p>
        <p>quickservecopyright@xenonteam</p>
    </section>

    <script src="../static/js/index.js"></script>
</body>

</html>